<!--
@Created by sublime_text at home on  2018/3/1—7:24！
@Gnome:   Live and learn!
@Author: 葛绪涛
@Nickname:  wordGe
@QQ:  690815818
@Filename: formSubmit.html
@Blog: http://higexutao.blog.163.com  
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>sign in your name</title>
    </head>
    <body>
        <h2>Please sing in.</h2>
        <form method="post" action="">
            <p>Name:<br><input type="text" name="username"></p>
            <p>Email:<br><input type="text" name="email"></p>
            <p>Website:<br><input type="text" name="website"></p>
            <p>Language:<br><input type="text" name="language"></p>
            <input type="submit" value="ok,submit my information">
        </form>
    </body>
</html>