<!--
@Created by sublime_text at home on  2018/3/1—7:39！
@Gnome:   Live and learn!
@Author: 葛绪涛
@Nickname:  wordGe
@QQ:  690815818
@Filename: user.html
@Blog: http://higexutao.blog.163.com  
-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>sign in your name</title>
    </head>
    <body>
        <h2>Your Information</h2>
        <p>Your name is {{username}}</p>
        <p>Your email is {{email}}</p>
        <p>Your website is {{website}}, it is very good. This website is make by {{language}}</p>
    </body>
</html>